@using Microsoft.AspNetCore.Identity
@using LanguageLearningPlatform.Data.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav ms-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="rounded-circle bg-primary d-flex align-items-center justify-content-center me-2"
                     style="width: 32px; height: 32px; color: white; font-weight: 600;">
                    @(user?.FirstName?.Substring(0, 1) ?? "U")
                </div>
                <span>@user?.FirstName @user?.LastName</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li>
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">
                        <i class="fas fa-user me-2"></i>Profile
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" asp-controller="Courses" asp-action="MyCourses">
                        <i class="fas fa-bookmark me-2"></i>My Courses
                    </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="dropdown-item">
                            <i class="fas fa-sign-out-alt me-2"></i>Logout
                        </button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">
                <i class="fas fa-sign-in-alt me-1"></i>Login
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-enroll ms-2 text-white" asp-area="Identity" asp-page="/Account/Register">
                <i class="fas fa-user-plus me-1"></i>Sign Up
            </a>
        </li>
    }
</ul>